.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debug > div {
  height: inherit;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.debug > div > div {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.debug > div > div > div {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(8.33333% - 30px);
  height: inherit;
  outline: 1px solid #ff0;
  background: rgba(0, 0, 0, 0.3);
}

.page {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #343434;
}

.page__body {
  margin: 0;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.carousel-util {
  overflow: hidden;
}

.carousel-util__list {
  display: flex;
  align-items: center;
  transition: transform 1s;
  will-change: transform;
}

.header-common {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #343434;
}

.header-common:before {
  content: '';
  width: 140px;
  height: 44px;
  background-image: url("../img/title/header-common.svg");
  background-repeat: no-repeat;
}

.main-header {
  background-image: url("../img/header/bg-header.png");
  background-repeat: no-repeat;
  background-color: #C4C4C4;
  max-width: 1920px;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 197px;
  color: #ffffff;
  margin: 0 auto;
}

.main-header__site-navigation {
  display: flex;
  max-width: 1920px;
  width: 100%;
  background: rgba(0, 91, 193, 0.6);
}

.site-navigation__logo {
  display: block;
  margin: 11px 0 11px 40px;
  max-width: 140px;
  width: 100%;
  max-height: 58px;
  height: 100%;
}

.site-navigation__navigation {
  display: flex;
  max-width: 454px;
  width: 100%;
  justify-content: space-between;
  margin: 29px auto;
}

.navigation__content-one,
.navigation__content-two,
.navigation__content-three,
.navigation__content-four,
.navigation__content-five {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: #ffffff;
}

.navigation__content-one:hover,
.navigation__content-two:hover,
.navigation__content-three:hover,
.navigation__content-four:hover,
.navigation__content-five:hover {
  border-bottom: 1px solid #ffffff;
}

.navigation__content-one:visited,
.navigation__content-two:visited,
.navigation__content-three:visited,
.navigation__content-four:visited,
.navigation__content-five:visited {
  color: #ffffff;
}

.header-content__img {
  position: absolute;
  top: 80px;
  left: 408px;
  z-index: 0;
}

.header-content__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.01em;
  padding: 202px 0 0 598px;
  position: relative;
  z-index: 2;
}

.header-content__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 40px 0 0 598px;
  position: relative;
  z-index: 1;
}

.header-content__link {
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.05em;
  position: relative;
  z-index: 1;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  display: inline-block;
  margin: 40px 0 0 598px;
  padding: 15px 38px 14px 38px;
}

.header-content__link:hover {
  background-color: #965;
}

.main-page {
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 75px;
  padding-bottom: 45px;
  margin: 0 auto;
}

.main-foooter {
  background-color: #005BC1;
  color: #ffffff;
}

.footer-wrapper {
  box-sizing: border-box;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.footer__block-contacts {
  display: flex;
  justify-content: space-between;
  padding: 36px 0 25px 0;
}

.block-contacts__content {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.block-contacts__content_modification {
  font-family: Oswald;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__block-links {
  box-sizing: border-box;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 25px 0;
}

.block-links__list {
  display: flex;
  justify-content: space-between;
  max-width: 551px;
  width: 100%;
}

.block-links__list__item {
  color: #ffffff;
}

.block-links__list__item:hover {
  color: #ffffff;
}

.block-links__list__item:visited {
  color: #ffffff;
}

.block-links__list__item__link {
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
}

.block-links__list__item__link__bottom-padding {
  padding-bottom: 10px;
}

.footer__block-content {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.block-content__text {
  font-size: 14px;
  line-height: 19px;
}

.our-project {
  max-width: 1110px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 75px;
  padding: 55px 0 75px 0;
  position: relative;
}

.our-project__top__prev,
.our-project__top__next {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  background-color: transparent;
  border: 2px solid #005BC1;
  box-sizing: border-box;
}

.our-project__top__prev:active,
.our-project__top__prev :hover,
.our-project__top__prev :focus,
.our-project__top__next:active,
.our-project__top__next :hover,
.our-project__top__next :focus {
  background-color: #946;
}

.our-project__top__prev {
  right: 55px;
  border-right: 1px solid #005BC1;
  background-image: url("../img/button/prev.svg");
  background-repeat: no-repeat;
}

.our-project__top__next {
  border-left: 1px solid #005BC1;
  background-image: url("../img/button/next.svg");
  background-repeat: no-repeat;
}

.our-project__gallery-list {
  display: flex;
  margin-top: 70px;
}

.gallery-list__item {
  position: relative;
  margin-left: 30px;
  background-color: #C4C4C4;
  height: 400px;
  width: 540px;
}

.gallery-list__item:nth-child(1) {
  margin-left: 0px;
}

.gallery-list__item--modification {
  background-image: url("../img/gallery/item-1.png");
  background-repeat: no-repeat;
}

.gallery-list__item--modification-2 {
  background-image: url("../img/gallery/item-2.png");
  background-repeat: no-repeat;
}

.item__wrapper-content {
  position: absolute;
  bottom: 35px;
  right: 35px;
  left: 255px;
  background-color: #ffffff;
  max-width: 250px;
  width: 100%;
  max-height: 110px;
  height: 100%;
}

.galelry-list__item__title {
  font-family: Oswald;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 20px 0 0 25px;
}

.gallery-list__item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  padding: 14px 0 20px 25px;
}

.product-catalog {
  max-width: 1110px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 75px;
  padding: 44px 0 75px 0;
  position: relative;
}

.product-catalog__slider {
  font-family: Oswald;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  position: absolute;
  top: 114px;
  left: 450px;
}

.product-catalog__slider:hover,
.product-catalog__slider :focus,
.product-catalog__slider :active {
  color: #005BC1;
  text-decoration: underline;
}

.product-catalog__slider--right {
  left: 550px;
}

.product-catalog__product-list {
  display: none;
  padding-top: 161px;
}

.product-catalog__product-list.active {
  display: flex;
}

.product-catalog__product-list__item {
  box-sizing: border-box;
  width: 350px;
  height: 300px;
  border: 3px solid #005BC1;
  box-sizing: border-box;
  background-color: #C4C4C4;
  margin-left: 30px;
  position: relative;
}

.product-catalog__product-list__item--1 {
  background-image: url("../img/products/item-1.png");
  background-repeat: no-repeat;
  margin-left: 0;
}

.product-catalog__product-list__item--2 {
  background-image: url("../img/products/item-2.png");
  background-repeat: no-repeat;
}

.product-catalog__product-list__item--3 {
  background-image: url("../img/products/item-3.png");
  background-repeat: no-repeat;
}

.product-catalog__product-list__item__wrapper-content {
  position: absolute;
  left: 79px;
  bottom: 15px;
  max-width: 265px;
  width: 100%;
  max-height: 86px;
  height: 100%;
  background-color: #005BC1;
}

.product-list__content {
  font-family: Oswald;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 0 0 21px;
}

.product-list__content:nth-child(2) {
  padding-top: 30px;
}

.equipment-rental {
  max-width: 1110px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  margin-top: 75px;
  padding: 45px 0 75px 0;
  position: relative;
}

.Equipment-rental__content {
  padding-top: 194px;
  max-width: 350px;
  width: 100%;
  max-height: 175px;
  height: 100%;
  font-size: 18px;
  line-height: 25px;
}

.equipment-rental__wrapper {
  border: 3px solid #005BC1;
  box-sizing: border-box;
  margin-top: 40px;
  margin-left: 95px;
  padding: 30px 20px 30px 30px;
}

.equipment-rental__wrapper__header {
  padding-top: 12px;
  position: relative;
}

.equipment-rental__wrapper__header__header {
  font-family: Oswald;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-right: 185.422px;
}

.equipment-rental__slider-prev,
.equipment-rental__slider-next {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  background-color: transparent;
  border: 2px solid #005BC1;
  box-sizing: border-box;
}

.equipment-rental__slider-prev:active,
.equipment-rental__slider-prev :hover,
.equipment-rental__slider-prev :focus,
.equipment-rental__slider-next:active,
.equipment-rental__slider-next :hover,
.equipment-rental__slider-next :focus {
  background-color: #946;
}

.equipment-rental__slider-prev {
  right: 55px;
  border-right: 1px solid #005BC1;
  background-image: url("../img/button/prev.svg");
  background-repeat: no-repeat;
}

.equipment-rental__slider-next {
  border-left: 1px solid #005BC1;
  background-image: url("../img/button/next.svg");
  background-repeat: no-repeat;
}

.equipment-rental__item {
  display: flex;
  padding-top: 33px;
}

.equipment-rental__item__content {
  margin-left: 46px;
}

.item__content__header {
  font-family: Oswald;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.item__content__list {
  padding-top: 30px;
}

.content__list__item {
  list-style-type: disc;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 22px;
}

.content__list__item:nth-child(4) {
  padding: 0;
}

.news {
  max-width: 1110px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 33px;
  padding: 51px 0 75px 0;
  position: relative;
}

.news__button-all-news {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 34px 14px 34px;
  background-color: #005BC1;
}

.news__button-all-news:hover {
  background-color: #965;
}

.news__list {
  display: flex;
  margin-top: 77px;
}

.news__list__item {
  margin-left: 60px;
}

.news__list__item:nth-child(1) {
  margin-left: 0;
}

.news__list__item__news-wapper {
  position: relative;
}

.news-wrapper__header {
  font-family: Oswald;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.news-wrapper__text {
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 20px;
}

.news-wrapper__data {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #979797;
}

.news-wrapper__img {
  max-width: 128px;
  width: 100%;
  max-height: 115px;
  height: 100%;
}

.news-wrapper__link {
  position: absolute;
  bottom: 0;
  left: 285px;
  text-decoration: underline;
}

.news__list__item__news-wapper--mod-1 {
  display: flex;
}

.news__list__item__news-wapper__first-child {
  margin-left: 30px;
}

.news-wrapper__header--mod-1 {
  padding-bottom: 42px;
}

.news-wrapper__data--mod-1 {
  position: absolute;
  top: 0;
  left: 468px;
}

.news-wrapper__text--mod-1 {
  padding-bottom: 21px;
  max-width: 255px;
  width: 100%;
}

.news-wrapper__img--mod-1 {
  width: 255px;
  height: 242px;
}

.news-wrapper__header--mod-2 {
  padding-bottom: 15px;
}

.news-wrapper__text--mod-2,
.news-wrapper__text--mod-3 {
  padding-bottom: 20px;
  max-width: 225px;
  width: 100%;
}

.news-wrapper__data--mod-2,
.news-wrapper__data--mod-3 {
  position: absolute;
  bottom: 0;
  left: 153px;
}

@media screen and (min-width: 992px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}